In [3]:
print('Anaconda\n'*5)

Anaconda
Anaconda
Anaconda
Anaconda
Anaconda

In [4]:
print('Hello World!\n'*5)

Hello World!
Hello World!
Hello World!
Hello World!
Hello World!

In [5]:
num=input('Enter a number')
print(num)

Enter a number8
8

In [7]:
a=float(input('Enter Height: '))
b=float(input('Enter weight: '))
a,b=b,a
print(a,b)

Enter Height: 3
Enter weight: 2
2.0 3.0

In [9]:
for i in range (1,6):
    print('*'*i)

*
**
***
****
*****

In [10]:
n=int(input('Enter number of rows'))
space=n 
for i in range(0,n):
    for j in range (0,space):
        print(' ',end='')
    space=space-1
    for k in range (0,i+1):
        print('*',end='')
    print('')

Enter number of rows5
     *
    **
   ***
  ****
 *****

In [1]:
n=int(input('Enter number of rows'))

for i in range(0,n):
    for j in range (1,n-i):
        print(' ',end='')
    for k in range (0,i*2-1):
        print ('*',end='')
    print ('')

Enter number of rows7

     *
    ***
   *****
  *******
 *********
***********

In [1]:
n=int(input('Enter number of rows'))
p=int(n/2)
q=n-p
for i in range (0,q):
    for j in range (1,q):
        print(' ',end='')
    for k in range (0,i*2-1):
        print('*',end='')
    print('')

Enter number of rows4

 *

In [2]:
# from Sir Hassan's lectures
x,y,z=10,11,12
print(x,y,z)

10 11 12

In [3]:
a=12
pi=3.1412
name='name'
print(a)
print(pi)
print(name)
print(a,pi,name)

12
3.1412
name
12 3.1412 name

In [5]:
rollNumber=str(12)
print('EE-'+rollNumber)
num=int(3.5)
print(num)

EE-12
3